:root {
    --border-color: #e3e5e4;
    --background-color: #c3c7ca;
    --text-color: #34444f;
}

li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

#draggable-list-container {
    display: flex;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.draggable-list {
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0;
    list-style: none;
}

.draggable-list li {
    background-color: #47464d;
    color: #ffffff;
    display: flex;
    flex: 1;
    height: 45px;
    text-align: left center;
}

.draggable-list li:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
    background-color: #fb742d;
    color: #000000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 45px;
    width: 40px;
}

.draggable-list li.over .draggable {
    background-color: #eaeaea;
}

.draggable-list .rule-name {
    padding-top: 10px;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
}

.col-lg-5{
    position: relative;
    align-items: center;
}

h5{
    position: relative;
    text-align: center;
}

.sidebar{
    height: 100%; 
    width: 250px;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    padding-top: 60px;
    transition: 0.5s;
    background-color: aliceblue;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(122, 251, 255, 0.568);
}

::-webkit-scrollbar-track {
  background: none;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    opacity: 0;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #menu{
    margin-left: 250px;
    transition: margin-left .4s;
    padding: 20px;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    border-style: double;
    border-color: black;
    color: black;
    font-weight: bold;
    width: 45px;
    text-align: center;
  }

  .sidebar .closebtn:hover {
    background-color: #fb742d;
    cursor: pointer;
  }

  #groupBtn{
    border: none; 
  }

  #savePresetBtn{
    background-color: #fb742d;
    border: none; 
    padding: 6px 34px;
    color: black;
    cursor: pointer;
  }

  #savePresetBtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }

  #savePresetBtn:focus{
      outline: none;
  }

  #loadPresetBtn{
    background-color: #fb742d;
    border: none; 
    padding: 6px 35px;
    color: black;
    cursor: pointer;
  }

  #loadPresetBtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }

  #loadPresetBtn:focus{
    outline: none;
}

  #selectall{
    background-color: #fb742d;
    border: none; 
    padding: 6px 35px;
    color: black;
    cursor: pointer;
  }

  #selectall:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .focus, .focus-visible:focus:not(:focus-visible){
    outline: 0;
    box-shadow:none;
  }


  .table-bordered{
      position: flex;
      width: 80%;
      height: 100%;
      border: 2px solid #fb742d;
  }

  #batchtable{
      margin-left: 100px;
  }

  td,th{
    text-align: center;
  }

  tr{
      height: 50px;
      border: 2px solid #fb742d;
  }

  #ruleBtn{
    padding-top: 6px;
    height: 35px;
    border: none;
    text-align: center;
    align-items: center;
    background-color: #fb742d;
    color: #000000;
    font-size: 16px;
    text-decoration: solid;
    cursor: pointer;
  }

  #rulelistBtn{
    padding-top: 6px;
    height: 35px;
    border: none;
    text-align: center;
    align-items: center;
    background-color: #fb742d;
    color: #000000;
    font-size: 16px;
    text-decoration: solid;
  }
  .active, .accordion-collapse:hover {
    background-color: #fb742d;
  }

  .ruleList{
    display: none;
    overflow: hidden;
  }

  .drag-area{
    border: 2px dashed #fff;
    height: 250px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #5256ad;
    margin-left: 90px;
    margin-top: 80px;
  }

  .drag-back{
    height: 400px;
    width: 700px;
    background: #5256ad;
    margin-left: 150px;
  }

  .drag-area.active{
    border: 2px solid #fff;
  }

  .drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  .drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
  }
  
  .hide{
    max-height: 0 !important;
  }

  .dropdown{
	border: 0.1em solid black;
	width: 10em;
	margin-bottom: 1em;
    background-color: #c3c7ca;
}

.dropdown .title{
	margin: .3em .3em .3em .3em;	
	width: 100%;
}

.dropdown .title .fa-angle-right{
	float: right;
    align-items: center;
	margin-right: .7em;
	transition: transform .3s;
}

.dropdown .menu{
	transition: max-height .5s ease-out;
	max-height: 20em;
	overflow: hidden;
    text-align: center !important;
    position: absolute;
    display: inline-block;
}

.dropdown .menu .option{
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
  background-color: #c3c7ca;
  width: 9.3em;
}

.dropdown .menu .option:hover{
	background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
	cursor: pointer;
}

.rotate-90{
	transform: rotate(90deg);
}

#batchtitle{
    margin-left: 350px;
}

.display-inline-block
{
  display: inline-block;
}